<h1>{{title}}</h1>
<div class = login>
<router-outlet></router-outlet>
</div>
<div class = intro>
    <h2>About
        <button id = 'login' (click)="goToPage('register')">Register</button>
        <button id = 'login' (click)="goToPage('login')">Login</button>
    </h2>
    <p>This website helps students attending Western or planning to attend Western, search for courses and make a schedule with their desired courses. Users can login to write reviews about courses, create public course lists and much more! To sign up click on the Login button and create an account with us!</p>
    <p>We look forward to viewing your course lists!</p>
</div>
<div class = intro>
    <h2>{{secondHeading}}</h2>
    <app-courses></app-courses>
</div>
<div class = intro>
    <h2>Course Lists Created by Our Users</h2>
    <app-public-lists></app-public-lists>
</div>
<a href="http://localhost:4200/privacy-policy">Privacy & Security Policy</a>
<p></p>
<a href="http://localhost:4200/aup">Acceptable Use Policy</a>
<p></p>
<a href="http://localhost:4200/dmca">DMCA Notice</a>
