<h1>{{title}}</h1>
<div class = intro>
    <h2>About
        <button id = 'login'>Login</button>
        <input name = "username" id= "username" placeholder="Password">
        <input name = "username" id= "username" placeholder="Username">
    </h2>
    <p>This website helps students attending Western or planning to attend Western, search for courses and make a schedule with their desired courses. Users can login to write reviews about courses, create public course lists and much more! To sign up click on the Login button and create an account with us!</p>
    <p>We look forward to viewing your course lists!</p>
</div>
<div class = intro>
    <h2>{{secondHeading}}</h2>
    <app-courses></app-courses>
</div>
<div class ="schedule">
    <h2>My Schedule</h2>
    <app-schedule></app-schedule>
</div>