<p>Subject:</p>
<input type="search" name = "subjectSearch1" id= "subjectSearch1" placeholder="eg. Stats ">
<p>Course Number:</p>
  <input type="search" name = "cnSearch1" id= "cnSearch1" placeholder="eg. 1023A ">
<p>Component:</p>
  <input type="search" name = "componentSearch1" id= "componentSearch1" placeholder="eg. LAB ">
<p>General Search:</p>  
  <input type="search" name = "generalSearch" id= "generalSearch" placeholder="eg. Stats 1023A ">
  <button (click)="searchCourses()">Search</button>
<p></p>


<ol id="courseSearch"></ol>