#username {
    padding: 6px 18px;
    margin-top: -5px;
    margin-bottom: 10px;
    margin-right: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    float: center;
}

#login {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 18px;
    margin-top: -5px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    float: center;
}

