<h2>Add a Course List</h2>
<input [(ngModel)]= "dName" type="search" id= "displayN" placeholder = "Enter display name ...">
<input [(ngModel)]= "sName" type="search" id= "scheduleN" placeholder="Enter schedule name ...">
<input [(ngModel)]= "description" type="search" id= "description" placeholder="Optional description ...">
<input [(ngModel)]= "visibility" type="search" id= "visibility" placeholder="Visibility (public or private)">
<button (click)="scheduleName()">Create Schedule</button>

<p></p>
<div class="courseSearch"> 
  <input [(ngModel)]= "sName" type="search" id= "scheduleN" placeholder="Enter schedule name ...">
  <input [(ngModel)]= "subject" type="search" id= "scheduleN" placeholder="eg. Stats ...">
  <input [(ngModel)]= "catalog_nbr" type="search" id= "scheduleN" placeholder="Enter schedule name ...">
  <button (click)="addToSchedule()">Add to Schedule</button>
  <p></p>
</div>

<input type="search" name = "scheduleN" id= "scheduleN" placeholder="Enter schedule name ...">
<button (click)="addToSchedule()">View Schedule</button>
<p></p>

<input type="search" name = "oldscheduleN" id= "oldscheduleN" placeholder="Old schedule name ...">
<input type="search" name = "newscheduleN" id= "newscheduleN" placeholder="New schedule name ...">
<input type="search" name = "description" id= "description" placeholder="Description ...">
<input type="search" name = "visibility" id= "visibility" placeholder="Visibility ...">
<button (click)="addToSchedule()">Edit Schedule</button>
<p></p>

<input type="search" name = "scheduleN" id= "scheduleN" placeholder="Enter schedule name ...">
<button (click)="addToSchedule()">Delete Schedule</button>


  <p id = "sName"></p>

  <ol id="schedule"></ol>