<h2>Add a Course List</h2>
<input [(ngModel)]= "dName" type="search" id= "displayN" placeholder = "Enter display name ...">
<input [(ngModel)]= "sName" type="search" id= "scheduleN" placeholder="Enter schedule name ...">
<input [(ngModel)]= "description" type="search" id= "description" placeholder="Optional description ...">
<input [(ngModel)]= "visibility" type="search" id= "visibility" placeholder="Visibility (public or private)">
<button (click)="scheduleName()">Create Schedule</button>

<p></p>
<div class="courseSearch"> 
  <input [(ngModel)]= "sName" type="search" id= "scheduleN" placeholder="Enter schedule name ...">
  <input [(ngModel)]= "subject" type="search" id= "scheduleN" placeholder="eg. Stats ...">
  <input [(ngModel)]= "catalog_nbr" type="search" id= "scheduleN" placeholder="Enter schedule name ...">
  <button (click)="addToSchedule()">Add to Schedule</button>
  <p></p>
</div>

<input [(ngModel)]= "sName" type="search" id= "scheduleN" placeholder="Enter schedule name ...">
<button (click)="getSchedule()">View Schedule</button>
<p></p>

<input [(ngModel)]= "oldName" type="search" id= "scheduleN" placeholder="Old schedule name ...">
<input [(ngModel)]= "newName" type="search" id= "scheduleN" placeholder="New schedule name ...">
<input [(ngModel)]= "newDescription" type="search" id= "scheduleN" placeholder="New description ...">
<input [(ngModel)]= "newVisibility" type="search" id= "scheduleN" placeholder="New Visibility ...">
<button (click)="editSchedule()">Edit Schedule</button>
<p></p>

<input [(ngModel)]= "sName" type="search" id= "scheduleN" placeholder="Enter schedule name ...">
<button (click)="deleteSchedule()">Delete Schedule</button>

<div class = "schdFormat" id = "schdFormat" name = "schdFormat">
<div id = "scheduleName" name = "scheduleName">
  

</div>
  <p id = "sName"></p>

  <ol id="schedule"></ol>
</div>
