<input type="search" name = "scheduleN" id= "scheduleN" placeholder="Enter schedule name ...">
<button (click)="scheduleName()">Create Schedule</button>

<p></p>
<div class="courseSearch"> 
  <input type="search" name = "subjectSearch" id= "subjectSearch" placeholder="eg. Stats ">
  <input type="search" name = "cnSearch" id= "cnSearch" placeholder="eg. 1023A ">
  <input type="search" name = "componentSearch" id= "componentSearch" placeholder="eg. LAB ">
  <button (click)="addToSchedule()">Add to Schedule</button>
  <p></p>
</div>

  <p id = "sName"></p>

  <ol id="schedule"></ol>